/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-style: normal;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/


body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  object-fit: cover;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  padding: 16px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo span {
  color: #4d5ae5;
}
@media (max-width: 767px)
  {
    .header-nav-list {
      display: none;
    }
    
    .header-contact-info {
      display: none;
    }
    .benefits-section-block {
      display: none;
    }
  }

@media (min-width: 768px){
  .header-burger-icon {
    display: none;
  }
  .our-portfolio-overlay-text {
    display: none;
  }
}

.hero-section {
  width: 320px;
  height: 420px;
  padding: 72px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/dark-bg-mobile.jpg), no-repeat;
    background-size: 320px 420px;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    width: 320px;
    height: 420px;
    padding: 72px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-mobile@2x.jpg), no-repeat;
      background-size: 320px 420px;
  }
}

.hero-section-title {
  width: 288px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 72px auto;
  color: white;
}

.hero-section-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  color: white;
  background-color: #4d5ae5;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.benefits-section {
  padding: 96px 0;
}
.benefits-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}


.benefits-section-title {
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  
}
.benefits-section-text {
  width: 288px;
}
.our-team-section {
  padding: 96px 28px;
  background-color: #F4F4FD;

}
.our-team-container {
  padding: 0;
}

.our-team-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  margin-bottom: 72px;

}
.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.our-team-block {
  width: 264px;
  height: 168px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
}
.our-team-item-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  
}
.our-team-item-text {
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-icons-list {
  display: flex;
  justify-content:  center;
  gap: 24px;
  width: 264px;
}

.our-team-icons-item {
  width: 40px;
  height: 40px;
}
.our-team-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.our-team-social-icon {
  fill: white;
}
.our-portfolio {
  padding: 96px 0;
}
.our-portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #2E2F42;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.11;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.our-portfolio-img {
  width: 288px;
  height: 288px;
}

.our-portfolio-description-content {
  width: 288px;
  padding: 32px 16px;
  background-color: white;
  border: 1px solid #F4F4FD;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2E2F42;
  letter-spacing: 0.01em;
}
.footer-section {
  padding: 96px 0;
  background-color: #2E2F42;

}
.footer-section-content-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-section-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  width: 116px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 auto 16px auto;
  color: #F4F4FD;
  
}
.footer-section-logo span {
  color: #4D5AE5;
}
.footer-section-text {
  width: 288px;
  color: #F4F4FD;
  font-weight: 400;
  margin-bottom: 72px;
}
.footer-section-icons-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section-title {
  color: white;
  margin-bottom: 16px;
}
.footer-section-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;

}
.footer-section-item {
  width: 40px;
  height: 40px;
}
.footer-section-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  border-radius: 50%;

}
.footer-social-icon {
  fill: white;
}
.footer-section-subscribe {
  display: flex;
  flex-direction: column;
}
.footer-section-subscribe-title {
  color: white;
  text-align: center;
  margin-bottom: 16px;
}
.footer-section-subscribe-form {
  display: flex;
  flex-direction: column;
}

.footer-section-subscribe-input {
  width: 288px;
  height: 40px;
  padding: 8px 0px 8px 16px;
  border-radius: 4px;
  border: 1px solid  #FFF;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin-bottom: 16px;
}
.footer-section-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  color: white;
  background-color: #4D5AE5;
  margin: 0 auto;
  gap: 16px;
  border-radius: 4px;
}
.footer-section-subscribe-icon {
  fill: white;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  padding: 8px 16px;
}

.modal-content {
  position: relative;
  width: 288px;
  min-height: 623px;
  background-color: white;
  padding: 72px 16px 0px 16px;
  
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.modal-title {
  text-align: center;
}

.modal-label {
  font-size: 12px;
  color: #8E8F99;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
.modal-label-content {
  position: relative;
  
}
.modal-input {
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  padding-left: 36px;
  margin-bottom: 8px;
}
.modal-icon {
  position: absolute;
  top: 9px;
  left: 16px;
}
.modal-label-content-textarea {
  width: 256px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  color: #8E8F99;
  padding-left: 16px;
  padding-top: 8px;
  opacity: 0.5;

}
._checkbox {
  margin-bottom: 24px;
}

.modal-label-user-privacy {
  display: block;
  width: 231px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8E8F99;
  padding-left: 26px;
}
.modal-label-checkmate {
  position: absolute;
  left: 16px;
  bottom: 116px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-label-link {
  color: #4D5AE5;
  text-decoration: underline;
}
.modal-form-button {
  display: block;
  width: 169px;
  height: 56px;
  background-color: #4D5AE5;
  margin: 0 auto;
  color: white;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}
.burger-content {
  position: relative;
  padding: 72px 16px;
}
.burger-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #E7E9FC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.burger-close-icon {
}
.burger-menu {
  display: flex;
  flex-direction: column;
}
.burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.burger-menu-list-item {

}
.burger-list-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-transform: capitalize;
}
.burger-list-link span {
  color: #4D5AE5;
}
.burger-info {
}
.burger-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.burger-info-list-item {
}
.burger-info-list-link {
  color: #434455;
}
.burger-info-list-link span {
  color: #4D5AE5;
}
.burger-icons-box {
}
.burger-icons-box-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.burger-icons-box-list-item {
  width: 40px;
  height: 40px;
}
.burger-icons-box-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
}
.burger-icons-box-icon {
  fill: white;
}

.is_open {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  img {
    display: block;
    object-fit: cover;
  }
  
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
   
  }
  
  .header {
    padding: 0px 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
 

  .header-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .header-logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 120px;
  }
  
  .header-logo span {
    color: #4d5ae5;
  }
  
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
 
  .header-nav-list-item {

  }
  .header-nav-link {
    color: #2E2F42;
    font-weight: 500;
  }

  .header-nav-link span {
    color: #404BBF;
  }
  .-main-link {
    position: relative;
  }
  .-main-link::after {
      content: "";
      width: 48px;
      height: 4px;
      background-color: #404BBF;
      border-radius: 2px;
      position: absolute;
      bottom: -28px;
      left: 0;
    
  }
  .header-contact-info {
    display: block;
    padding: 12px 0
  }
  .header-contact-info-list {
    display: flex;
    flex-direction: column;
  }
  .header-contact-info-link {
    font-size: 12px;
    line-height: 1.16;
    color: #434455;
  }
  .hero-section {
    width: 768px;
    height: 436px;
    padding: 122px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-tablet.jpg), no-repeat;
      background-size: 768px 436px;
  }
  
  @media (min-resolution: 192dpi) {
    .hero-section {
      width: 768px;
      height: 436px;
      padding: 122px 0;
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tablet@2x.jpg), no-repeat;
        background-size: 768px 436px;
    }
  }
  
  .hero-section-title {
    width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 36px auto;
    color: white;
  }
  
  .hero-section-btn {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    color: white;
    background-color: #4d5ae5;
  }
  
  .visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }
  
  .benefits-section {
    padding: 96px 0;
  }
  .benefits-section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .benefits-section-block {
    display: none;
  }
  
  .benefits-section-title {
    text-align: left;
    text-transform: capitalize;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
    
  }
  .benefits-section-text {
    width: 356px;
  }
  .our-team-section {
    padding: 96px 28px;
    background-color: #F4F4FD;
  
  }
  .our-team-container {
    padding: 0;
  }
  
  .our-team-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    margin-bottom: 72px;
  
  }
  .our-team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .our-team-item {
  
  }
  .our-team-item-img {
  }
  .our-team-block {
    width: 264px;
    height: 168px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
  }
  .our-team-item-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    
  }
  .our-team-item-text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
  }
  .our-team-icons-list {
    display: flex;
    justify-content:  center;
    gap: 24px;
    width: 264px;
  }
  
  .our-team-icons-item {
    width: 40px;
    height: 40px;
  }
  .our-team-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
  }
  .our-team-social-icon {
    fill: white;
  }
  .our-portfolio {
    padding: 96px 0;
  }
  .our-portfolio-container {
  }
  .our-portfolio-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .our-portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .our-portfolio-item {
  }
  .our-portfolio-block {
  
  }
  .our-portfolio-img {
    width: 356px;
    height: 300px;
  }
  .our-portfolio-overlay-text {
    
  }
  .our-portfolio-description-content {
    width: 356px;
    padding: 32px 16px;
    background-color: white;
    border: 1px solid #F4F4FD;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .our-portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.01em;
  }
  .our-portfolio-text {
  
  }
  .footer-section {
    padding: 96px 0;
    background-color: #2E2F42;
  
  }
  .footer-section-container {
  }
  .footer-section-content-wrapper {
    width: 496px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-section-content-bottom {
  }
  .footer-section-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    width: 116px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 16px;
    color: #F4F4FD;
    
  }
  .footer-section-logo span {
    color: #4D5AE5;
  }
  .footer-section-text {
    width: 264px;
    color: #F4F4FD;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .footer-section-icons-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-section-title {
    color: white;
    margin-bottom: 16px;
  }
  .footer-section-list {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
  
  }
  .footer-section-item {
    width: 40px;
    height: 40px;
  }
  .footer-section-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
  
  }
  .footer-social-icon {
    fill: white;
  }
  .footer-section-subscribe {
    display: flex;
    flex-direction: column;
  }
  .footer-section-subscribe-title {
    color: white;
    text-align: left;
    margin-bottom: 16px;
  }
  .footer-section-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-section-subscribe-label {
  }
  .footer-section-subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    border-radius: 4px;
    border: 1px solid  #FFF;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    margin-bottom: 16px;
  }
  .footer-section-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    color: white;
    background-color: #4D5AE5;
    margin: 0 auto;
    gap: 16px;
    border-radius: 4px;
  }
  .footer-section-subscribe-icon {
    fill: white;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    padding: 93px 16px;
  }
  
  .modal-content {
    position: relative;
    width: 408px;
    min-height: 588px;
    background-color: white;
    padding: 72px 16px 24оpx 16px;
    left: 163px;
    
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .modal-close-icon {
  }
  .modal-title {
    text-align: center;
  }
  .modal-form {
  }
  .form-content {
  }
  .modal-label {
    font-size: 12px;
    color: #8E8F99;
    line-height: 1.16;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
  .modal-label-content {
    position: relative;
    
  }
  .modal-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 36px;
    margin-bottom: 8px;
  }
  .modal-icon {
    position: absolute;
    top: 9px;
    left: 16px;
  }
  ._comment {
  }
  .modal-label-content-textarea {
    width: 360px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    color: #8E8F99;
    padding-left: 16px;
    padding-top: 8px;
    opacity: 0.5;
    margin-bottom: 16px;
  
  }
  ._checkbox {
    margin-bottom: 24px;
  }
  .modal-input-checkbox {
  }
  .modal-label-user-privacy {
    display: block;
    width: 338px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    padding-left: 22px;
  }
  .modal-label-checkmate {
    position: absolute;
    left: 16px;
    bottom: 103px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  .modal-checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .modal-label-link {
    color: #4D5AE5;
    text-decoration: underline;
  }
  .modal-form-button {
    display: block;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    margin: 0 auto;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
  }
  .burger-content {
    position: relative;
    padding: 72px 16px;
  }
  .burger-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .burger-close-icon {
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
  }
  .burger-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
  }
  .burger-menu-list-item {
  
  }
  .burger-list-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
  }
  .burger-list-link span {
    color: #4D5AE5;
  }
  .burger-info {
  }
  .burger-info-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .burger-info-list-item {
  }
  .burger-info-list-link {
    color: #434455;
  }
  .burger-info-list-link span {
    color: #4D5AE5;
  }
  .burger-icons-box {
  }
  .burger-icons-box-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .burger-icons-box-list-item {
    width: 40px;
    height: 40px;
  }
  .burger-icons-box-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
  }
  .burger-icons-box-icon {
    fill: white;
  }
  
  .is_open {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 1158px) {
  img {
    display: block;
    object-fit: cover;
  }
  
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .header {
    padding: 0px 0;
  }

  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .header-logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 120px;
    padding: 24px 0;
  }
  
  .header-logo span {
    color: #4d5ae5;
  }
  
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
 
  .header-nav-list-item {
    padding: 24px 0;
  }
  .header-nav-link {
    color: #2E2F42;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:focus,
  .header-nav-link:hover {
    color: #404BBF;
  }

  .header-nav-link span {
    color: #404BBF;
  }
  .-main-link {
    position: relative;
  }
  .-main-link::after {
      content: "";
      width: 48px;
      height: 4px;
      background-color: #404BBF;
      border-radius: 2px;
      position: absolute;
      bottom: -30px;
      left: 0;
    
  }
  .header-contact-info {
    display: block;
    padding: 12px 0
  }
  .header-contact-info-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-contact-info-link {
    font-size: 16px;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact-info-link:focus,
  .header-contact-info-link:hover {
    color: #404BBF;
  }
  .hero-section {
    width: 1158px;
    height: 600px;
    padding: 188px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-desktop.jpg), no-repeat;
      background-size: 1158px 600px;
  }
  
  @media (min-resolution: 192dpi) {
    .hero-section {
      width: 1158px;
      height: 600px;
      padding: 188px 0;
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-desktop@2x.jpg), no-repeat;
        background-size: 1158px 600px;
    }
  }
  
  .hero-section-title {
    width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 48px auto;
    color: white;
  }
  
  .hero-section-btn {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    color: white;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-section-btn:focus,
  .hero-section-btn:hover {
    background-color: #404BBF;
  }
  
  .visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }
  
  .benefits-section {
    padding: 120px 0;
  }
  .benefits-section-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px 24px;
  }
  .benefits-section-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
  }
  
  .benefits-section-title {
    text-align: left;
    text-transform: capitalize;
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    
  }
  .benefits-section-text {
    width: 264px;
  }
  .our-team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
  
  }
  .our-team-container {
    padding: 0;
  }
  
  .our-team-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    margin-bottom: 72px;
  
  }
  .our-team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .our-team-item {
  
  }
  .our-team-item-img {
  }
  .our-team-block {
    width: 264px;
    height: 168px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
  }
  .our-team-item-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    
  }
  .our-team-item-text {
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
  }
  .our-team-icons-list {
    display: flex;
    justify-content:  center;
    gap: 24px;
    width: 264px;
  }
  
  .our-team-icons-item {
    width: 40px;
    height: 40px;
  }
  .our-team-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
  }
  .our-team-link:hover,
  .our-team-link:focus {
    background-color: #404BBF;
  }
  
  .our-team-social-icon {
    fill: white;
  }
  .our-portfolio {
    padding: 96px 0;
  }
  .our-portfolio-container {
  }
  .our-portfolio-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .our-portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .our-portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-portfolio-item:hover,
  .our-portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .our-portfolio-block {
    overflow: hidden;
    position: relative;
  }
  .our-portfolio-img {
    width: 356px;
    height: 300px;
  }
  .our-portfolio-overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
  }
  .our-portfolio-block:hover .our-portfolio-overlay-text,
  .our-portfolio-block:focus .our-portfolio-overlay-text{
    transform: translateY(0%);
  }
  .our-portfolio-description-content {
    width: 356px;
    padding: 32px 16px;
    background-color: white;
    border: 1px solid #F4F4FD;
    box-shadow: none;
  }
  .our-portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.01em;
  }
  .our-portfolio-text {
  
  }
  .footer-section {
    padding: 96px 0;
    background-color: #2E2F42;
  
  }
  .footer-section-container {
  }
  .footer-section-content-wrapper {
    width: 496px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0 96px;
  }
  .footer-section-content-bottom {
  }
  .footer-section-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    width: 116px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 16px;
    color: #F4F4FD;
    
  }
  .footer-section-logo span {
    color: #4D5AE5;
  }
  .footer-section-text {
    width: 264px;
    color: #F4F4FD;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .footer-section-icons-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-section-title {
    color: white;
    margin-bottom: 16px;
  }
  .footer-section-list {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
  
  }
  .footer-section-item {
    width: 40px;
    height: 40px;
  }
  .footer-section-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
  }
  .footer-section-link:hover,
  .footer-section-link:focus {
    background-color: #31D0AA;
  }
  .footer-section-link:hover .footer-social-icon,
  .footer-section-link:focus .footer-social-icon {
    fill: #F4F4FD;
  } 
  .footer-social-icon {
    fill: white;
  }
  .footer-section-subscribe {
    display: flex;
    flex-direction: column;
  }
  .footer-section-subscribe-title {
    color: white;
    text-align: left;
    margin-bottom: 16px;
  }
  .footer-section-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-section-subscribe-label {
  }
  .footer-section-subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    border-radius: 4px;
    border: 1px solid  #FFF;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    margin-bottom: 16px;
  }
  .footer-section-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    color: white;
    background-color: #4D5AE5;
    margin: 0 auto;
    gap: 16px;
    border-radius: 4px;
  }
  .footer-section-subscribe-icon {
    fill: white;
  }
.nodal {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    padding: 93px 16px;
}  
 
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  right: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover > .modal-close-icon {
  fill: #ffffff;
}

.modal-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-content {
  margin-bottom: 8px;
}

._comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-label-content {
  position: relative;
}

.modal-label-content-textarea {
  width: 229%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-content-textarea:focus {
  border-color: #4d5ae5;
}

.modal-input {
  width: 175%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  border-radius: 4px;
}

.modal-icon {
  position: absolute;
  top: 45%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-checkbox {
}

._checkbox {
  margin-bottom: 24px;
}

.modal-label-user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-checkbox:checked
  + .modal-label-user-privacy
  .modal-label-checkmate {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-label-checkmate {
  position: absolute;
  left: 24px;
  bottom: 104px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-input-checkbox:checked + .modal-label-checkmate {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-label-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404BBF;
}

 
  .is_open {
    visibility: visible;
    opacity: 1;
  }
}
